:root {
  --ensa-blue-dark: #003F7D;
  --ensa-blue: #005DA0;
  --ensa-green: #61B12F;
  --ensa-light: #F2F2F2;
  --ensa-white: #ffffff;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--ensa-light);
  margin: 0;
  padding: 0;
}

.ensa-card {
  width: 380px;
  background: white;
  padding: 32px;
  border-radius: 14px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

.ensa-title {
  color: var(--ensa-blue-dark);
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
}

.ensa-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border: 2px solid var(--ensa-blue);
  border-radius: 8px;
  font-size: 15px;
}

.ensa-button {
  width: 100%;
  padding: 12px;
  background-color: var(--ensa-blue-dark);
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
}

.ensa-button:hover {
  background-color: var(--ensa-blue);
}
